.products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;

    button{
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 10px; 
    }
    button:hover{
        background-color: black;
        color: white;
    }

    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 20px;
        width: 300px;
    }
}
.allProduct{
    /* border: 1px solid; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
margin-bottom: 30px;
    img{
        width: 250px;   
    }
}